.div-to-align {
    width: 40%;
    border: 1px solid rgb(236, 236, 236);
    border-radius:3px ;
    padding: 40px 20px;
    background-color: fff;
    align-items: center;
    margin-left: 400px;
    margin-top: 100px;
    /* .... */
}
h4{
    color:whitesmoke;
    font-weight:100;
}
h5{
    color:rgb(14, 12, 12);
    font-weight:100;
    text-align: center;
    font-style: 10px;
}
label{
    color:rgb(14, 12, 12);
    font-weight:100;
    text-transform: uppercase;
}
button{
    width:100%;
    font-weight:100;
    text-transform: uppercase;

}
p,a{
    
    font-weight:100;
    text-transform: uppercase;
}
small{
    
    font-weight:500;
    text-transform: uppercase;
}
.error{
    color: red;
    font-size: 20px;
}
.success{
    color: green;
    font-size: 20px;
} 
.blue{
  
    font-weight:500
}
.body {
    background: #000
}

.card {
    border: none;
    height: 320px
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn {
    height: 50px
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}