
<div class="container-fluid px-1 py-4 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-8 col-10 text-center">
            <div class="card">
                <h4 class="text-center mb-4">Change Password</h4>

                    

            
                <form class="form-card">
                
                    
                    <hr />
                    <br>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label> Change password <span class="text-danger"> *</span></label>
                            <h6><span 
                                    class="badge badge-warning text-left "></span></h6>
                            <input   formControlName="url" type="text" id="url" name="url" placeholder="Enter Picture Url">
                        </div>
                    </div>
                    <br>
                    <hr />
                    <br>
                    <div class="row justify-content-start  col-sm-6 flex-column d-flex">
                    </div>
                    <div class="row justify-content-start mx-1" >
                        <button type="button" class="btn btn-primary  flex-column d-flex " >Change Password</button>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>