
<header>
<nav  class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h4>STUDENT MANGEMENT SYSTEM </h4>
        <div class="d-flex">
         
        <!-- <button class="btn btn-success mx-4 "  routerLink="/modal">Home</button> -->
        <button class="btn btn-primary mx-1 " *ngIf="!isLoggedIn" routerLink="/sign-in">Sign in</button>
      
  
     <div class="action" *ngIf="isLoggedIn"   
     >
      <div class="profile" (click)="clickEvent()"  >
        <img src="{{User.photoUrl}}">
      </div> 
      <div  [ngClass]="status ? 'active' : 'menu'">
     
        <ul>
          <li ><a routerLink="/modal" >My Dashboard</a></li>
          <li ><a routerLink="profile" >Profile</a></li>
          <li ><a routerLink="/profile" [queryParams]="{EditMode:true}">Edit Profile</a></li>
         
          <li ><a routerLink="/change-password" >Change Password</a></li>
          <li (click)="onSignOut()">Logout</li>
          
        </ul>
      </div>
    
    </div>     
   
    
    


    </div></div>
   

  </nav>

</header>
<router-outlet></router-outlet>
