
<div class="container-fluid px-1 py-4 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-8 col-10 text-center">
            <div class="card">
                <h4 class="text-center mb-4">Forgot Password</h4>

                    

            
                <form *ngIf="!success" name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                
                    
                    <hr />
                    <br>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label> Enter  E-mail <span class="text-danger"> *</span></label>
                            <input   formControlName="email" type="email" id="email" name="email" placeholder="Enter Password" />
                        </div>
                    </div>
                
                 
              
                    <div class="row justify-content-start mx-3 left-1" >

                        <button type="submit" class="btn btn-primary  flex-column d-flex " >Send </button>
    
                        </div>
                       
                    <br>
                    <hr />
                    <br><br>
                       

                </form>
                <div *ngIf="success" class="alert alert-success" role="alert">
                  
                    <h6>Success</h6>
                   <p>Password has been changed successfully</p>
                  </div>
                  <!-- <div *ngIf="!success" class="alert alert-danger" role="alert">
                  
                    <h6>Error</h6>
                   <p>{{error}}</p>
                  </div> -->
            </div>
        </div>
    </div>
</div>